@model IEnumerable<TMS.Models.Performance>
@{
    ViewData["Title"] = "CReport";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
    int i = 1;
}

<div id="print">
    <h2>Performance Report</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>Trainee name:</dt>
        <dd>@ViewBag.tn</dd>
        <dt>Trainee ID:</dt>
        <dd>@ViewBag.ti</dd>
    </dl>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    SL No.
                </th>
                <th>
                    Trainee Name
                </th>
                <th>
                    Trainee ID
                </th>
                <th>
                    Task No.
                </th>
                <th>
                    Task Progress
                </th>
                <th>
                    Task Accuracy
                </th>
                <th>
                    Performance Score
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trainee.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trainee.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Task.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Progress.Completed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Accuracy)
                    </td>
                    <td>
                        @(Convert.ToInt32(item.Progress.Completed) + (item.Accuracy))
                    </td>

                    @if ((Convert.ToInt32(item.Progress.Completed) + (item.Accuracy)) > 179)
                    {
                        <td>Exelent</td>
                    }
                    else if ((Convert.ToInt32(item.Progress.Completed) + (item.Accuracy)) > 159 && (Convert.ToInt32(item.Progress.Completed) + (item.Accuracy)) < 180)
                    {
                        <td>Good</td>
                    }
                    else if ((Convert.ToInt32(item.Progress.Completed) + (item.Accuracy)) > 139 && (Convert.ToInt32(item.Progress.Completed) + (item.Accuracy)) < 160)
                    {
                        <td>Average</td>
                    }
                    else if ((Convert.ToInt32(item.Progress.Completed) + (item.Accuracy)) > 119 && (Convert.ToInt32(item.Progress.Completed) + (item.Accuracy)) < 140)
                    {
                        <td>Low</td>
                    }
                    else
                    {
                        <td>Bad</td>
                    }
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

<button id="pbtn" class="btn btn-success" onclick="printdiv('print');">Print</button>

<script language="javascript">
    function printdiv(printpage) {
        var newstr = document.all.item(printpage).innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = newstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    }
</script>

