@model TMS.Models.Trainee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_CoordinatorLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Trainee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Trainee Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Trainee ID:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
           Address:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
           Contact No:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt>
          Email:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Course Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt>
           Batch No:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Batch.Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
