@model IEnumerable<TMS.Models.Tasks>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CoordinatorLayout.cshtml";
    int i = 1;
}

<h2>Task Index</h2>

<div class="row">
    <div class="col-md-10">
        <form class="form-inline" asp-controller="Tasks" asp-action="Index" method="post">
            <input type="number" name="tid" class="form-control" value="@ViewBag.stext" placeholder="Search By Trainee ID..." />
            <input type="submit" class="form-control btn btn-primary" value="Search" />
            @*@if (ViewBag.status)
            {
                <a asp-action="Index" class="btn btn-success">Back To List</a>
            }*@
        </form>
        <br />
        <a asp-action="Index" class="btn btn-success">Back To List</a>
    </div>
</div>
<br />

@*<p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>*@
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                SL No.
            </th>
            <th>
                Trainee Name
            </th>
            <th>
                Trainee ID
            </th>
            <th>
                Instructor Name
            </th>
            <th>
                Task ID
            </th>
            <th>
                Task Name
            </th>
            <th>
                Task No.
            </th>
            <th>
                Assign Date
            </th>
            <th>
                Submision Date
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainee.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>*@
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
